/** list of messages **/
#content {
  width:500px;
  margin:auto !important;
}
#content li {
  cursor:pointer;
}
#content li img {
  width:2rem; margin-right:1rem;
}
#content ul {
  list-style-type: none; border-radius:3px;
  padding-top:0.3rem; padding-left:0.1rem;
}
#content li {
  white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
  border-radius:3px; padding-left:0.3rem;
}
#content div {
  display:inline;
}
.fades {
  animation: fading 0.3s linear forwards;
}
@keyframes fading {
  from{background-color:#121212}
  50%{background-color:#5b9999}
  to{background-color:#121212}
}
.unread {
  background-color:#5b9999;
}
/** list of messages **/



/** float new message button **/
.float-button {
  position:fixed;bottom:20px;width:100%;
}
.float-line {
  display:flex;align-items:end;justify-content:space-between;
}
.center-block {
  width:500px;display:flex;align-items:end;justify-content:end;padding-right:30px;
}
.button-new-message {
  bottom:15px;z-index:20;
  background-color:#2FDF75;
  border-radius:30px;padding:10px;width:42px
}
.button-new-message:hover{
  box-shadow:1px 1px 1px #2FDF75;
}
.button-new-message:active {
  transform: translate(1px,1px);
}
@media screen and (max-width: 400px) {
  .button-new-message {
    width:38px;
  }
}
/** float new message button **/