<!-- first access -->
<div id="pageFirstAccess1" class="page" [ngStyle]="preferences.isFirstAccess?{}:{display:'none'}" style="padding-top:-50px;z-index:1"
[ngClass]="page==1?'firstPageSlide':''">
  <ion-img src="assets/screens/first-access/background.png" style="width:100%"/>
  <ion-img src="assets/screens/first-access/x.png" style="width:6%;position:absolute;top:10px;right:10px" (click)="close()"/>
  <div style="position:absolute;top:50%;transform:translateY(-65%);width:100%">
    <ion-img src="assets/screens/first-access/balloons.png" style="width:20%;margin:auto;"/>
    <ion-img src="assets/screens/first-access/digae.png" style="width:20%;margin:auto;margin-bottom:60px;"/>
    <ion-img src="assets/screens/first-access/description.png" style="width:70%;margin:auto;"/>
  </div>
  <ion-img src="assets/screens/first-access/arrow-next.png" style="width:8%;position:absolute;bottom:10px;right:10px" (click)="next()"/>
</div>
<div id="pageFirstAccess2" class="page" [ngStyle]="preferences.isFirstAccess?{}:{display:'none'}" style="padding-top:-50px"
[ngClass]="page==2?'pageSlide':''">
  <ion-img src="assets/screens/first-access/background.png" style="width:100%"/>
  <ion-img src="assets/screens/first-access/x.png" style="width:6%;position:absolute;top:10px;right:10px" (click)="close()"/>
  <ion-img src="assets/screens/first-access/trash.png" style="width:7%;position:absolute;top:13%;left:10%;"/>
  <ion-img src="assets/screens/first-access/description-trash.png" style="width:50%;position:absolute;top:14%;left:22%;"/>
  <ion-img [src]="checkedTrash?'assets/screens/first-access/check-option.png':'assets/screens/first-access/unchecked-option.png'" (click)="checkTrash()" style="width:7%;position:absolute;top:13%;left:80%;"/>
  <ion-img src="assets/screens/first-access/bookmark.png" style="width:7%;position:absolute;top:33%;left:10%;"/>
  <ion-img src="assets/screens/first-access/description-bookmark.png" style="width:50%;position:absolute;top:34%;left:22%;"/>
  <ion-img [src]="checkedBookmark?'assets/screens/first-access/check-option.png':'assets/screens/first-access/unchecked-option.png'" (click)="checkBookmark()" style="width:7%;position:absolute;top:33%;left:80%;"/>
  <ion-img src="assets/screens/first-access/fire.png" style="width:9%;position:absolute;top:53%;left:9%;"/>
  <ion-img src="assets/screens/first-access/description-fire.png" style="width:50%;position:absolute;top:55%;left:22%;"/>
  <ion-img [src]="checkedFire?'assets/screens/first-access/check-option.png':'assets/screens/first-access/unchecked-option.png'" (click)="checkFire()" style="width:7%;position:absolute;top:54%;left:80%;"/>
  <ion-img src="assets/screens/first-access/money.png" style="width:9%;position:absolute;top:74%;left:9%;"/>
  <ion-img src="assets/screens/first-access/description-money.png" style="width:50%;position:absolute;top:76%;left:22%;"/>
  <ion-img [src]="checkedMoney?'assets/screens/first-access/check-option.png':'assets/screens/first-access/unchecked-option.png'" (click)="checkMoney()" style="width:7%;position:absolute;top:75%;left:80%;"/>
  <ion-img src="assets/screens/first-access/ok.png" style="width:8%;position:absolute;bottom:10px;right:10px" (click)="close()"/>
</div>
<!-- first access -->


<ion-header [translucent]="true" style="height:95px;" [ngStyle]="preferences.isFirstAccess?{'z-index':'-1'}:{}">
  <ion-toolbar style="height:95px">
    <ion-grid>
      <ion-row class="icons ion-justify-content-between" style="padding-top:15px;">
        <ion-col size="3">
          <ion-title>
            <ion-label color="medium">Digae</ion-label>
          </ion-title>
        </ion-col>
        <ion-col size="6" style="text-align:right">
          <ion-button fill="clear" color="medium"><ion-icon name="camera-outline"></ion-icon></ion-button>
          <ion-button fill="clear" color="medium"><ion-icon name="search-outline"></ion-icon></ion-button>
          <ion-button id="popover-button" fill="clear" color="medium"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="tabs">
        <ion-col style="display:flex;justify-content:space-between;padding-right:10px;">
          <ion-button fill="clear" color="medium" style="padding-bottom:8px;"><ion-icon name="people-sharp"></ion-icon></ion-button>
          <ion-button fill="clear" size="small" color="medium">Conversas<ion-badge slot="end" color="success" style="border-radius:12px;">11</ion-badge></ion-button>
          <ion-button fill="clear" size="small" color="medium">Status</ion-button>
          <ion-button fill="clear" size="small" color="medium">Chamadas</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>


<!-- list of contacts and messages -->
<div id="content" [ngStyle]="preferences.isFirstAccess?{overflow:'hidden'}:{overflow:'auto'}">
  <ul [ngClass]="avatar.active?'fades':''" [ngClass]="avatar.unread?'unread':''" style="z-index:-1" *ngFor="let avatar of avatars;">
    <li (click)="selectChat(avatar)">
      <img src="assets/avatars/{{avatar.img}}"/><div>{{avatar.txt}}</div>
    </li>
  </ul>
</div>
<!-- list of contacts and messages -->



<div class="float-button">
  <div class="float-line">
    <div style="width:auto"></div>
    <div class="center-block">
      <ion-img class="button-new-message" [src]="msg" (click)="newMessage();">
      </ion-img>
    </div>
    <div style="width:auto"></div>
  </div>
</div>



<ion-content>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
</ion-content>


<!-- ellipsis menu -->
<ion-popover trigger="popover-button" [dismissOnSelect]="true" side="bottom" alignment="end">
  <ng-template>
    <ion-content>
      <ion-list>
        <ion-item [button]="true" [detail]="false">Novo grupo</ion-item>
        <ion-item [button]="true" [detail]="false">Mensagens favoritas</ion-item>
        <ion-item [button]="true" [detail]="false">Pagamentos</ion-item>
        <ion-item [button]="true" [detail]="false">Configurações</ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-popover>
<!-- ellipsis menu -->


<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen=false">
  <ng-template>
    <ion-content class="ion-padding">Hello World!</ion-content>
  </ng-template>
</ion-popover>